html {
  width: 100%;
  background-image: url("../images/noise.png"), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 750, color-stop(0%, #317754), color-stop(100%, #204531));
  background-image: url("../images/noise.png"), -moz-radial-gradient(top center, circle, #317754 0%, #204531 750px);
  background-image: url("../images/noise.png"), radial-gradient(top center, circle, #317754 0%, #204531 750px);
  padding-top: 10px;
  font-family: Georgia, serif;
  font-style: italic;
  color: #FFF;
  text-align: center;
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;
}

#pep {
  position: absolute;
  bottom: 0;
  left: 0;
}

h1 {
  font-size: 72px;
}

a#submit {
  display: inline-block;
  padding: 10px;
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: white;
  color: black;
  text-decoration: none;
}

a#submit:hover {
  border: 1px solid red;
}

#content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 60%;
  margin: 50px auto 0px auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
}
